:root{
    --gris-claro: gainsboro;
    --negro: black;
    --cafe: brown;
    --Blanco: white;
    --azul-oscuro: darkblue;
}

* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

main { 
flex: 1;
    padding-bottom: 9%;
}



header{
    background-color: gainsboro;
    color: var(--negro);
    padding: 10px 20px;
    position: relative;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 180px;
    height: auto;
}



.opciones-menu{
    list-style: none;
    display: flex;
    gap: 35px
}

.opciones-menu a{
    text-decoration: none;
    color: var(--negro);
    font-size: 18px;
}

.opciones-menu a:hover{
    color: var(--cafe);
}

.menu{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.linea{
    width: 25px;
    height: 3px;
    background-color: var(--negro);
    margin: 4px 0;
    transition: o.3s;

}

.imagen-uno{
background-image: url(../img/imagen1.png);
height: 500px;
width: 100%;
margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;

     display: flex;           
    
    align-items: center;      
    position: relative;       
}



.container-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity: 80%;
    width: 30%;
    height: 48%;
    margin-top: -27px;
    margin-left: 95px;
    border-radius: 2%;
    border: 2px solid var(--negro);
    justify-content: space-between;
    padding: 10px 20px;
    
}

.container-imagen h2{
    font-size: 35px;
      
}

.container-imagen button{
    height: 16%;
    width: 28%;
  background-color: var(--azul-oscuro);
  color: var(--Blanco);
  border: 1px solid var(--negro);
  border-radius: 5%;
  cursor: pointer;
   
}

.container-imagen button:hover{
    background-color: brown;
}

.titulo {
  text-align: center;
    font-size: 5vw; 
    margin-bottom: 20px;
    
}

.idiomas {
   display: flex;             
    justify-content: space-between; 
    align-items: center;     
    width: 100%;                
    padding: 0 20px;           
    box-sizing: border-box;     
    height: auto;
    gap: 4%;

  
}


.container-idioma {
     flex: 1;                  
    text-align: center;          
   
    border: 1px solid #ccc;     
    border-radius: 8px;         
           
    height: 80%;
      border: 2px var(--negro) solid ;
      justify-content: space-between;
      padding: 20px 10px;
      
      
}

.container-idioma button{
    width: 40%;
    height: 10%;
    background-color: var(--azul-oscuro);
    color: var(--Blanco);
    border-radius: 2px;
 cursor: pointer;
}

.container-idioma button:hover{
    background-color: var(--cafe);
}

.btn-whatsapp {
    position: fixed;     
    bottom: 20px;       
    right: 20px;       
    width: 70px;         
    height: 70px;
    z-index: 9999;       
}

.img-logo-whatsapp {
    width: 100%;
    height: 100%;
}


footer{
    background-color: var(--gris-claro);
display: flex;
flex-direction:column;
text-align: center;

}

a{
    text-decoration: none;
}

footer .social{
display: flex;
justify-content: center;
gap: 20px;
padding: 15px 0;

}

footer .social a{
    color: var(--Blanco);
    background-color: var(--negro);
    padding: 5px;
    border-radius: 50%;

}

footer .social a i{
    font-size: 20px;
    transition: all .3s ease;

}


footer .social a i:hover{
    transform: translateY(-2px);
}

footer .nav-section{
    margin-bottom: 15px;
}

footer .nav-section nav {
    display: flex;
    justify-content: center;
    gap:35px;
}

footer .nav-section nav a{
    color: var(--negro);
    cursor: pointer;
}

footer .copy{
    padding: 15px 0;
    background-color: var(--negro);
    color: var(--Blanco)
}

:root{
    --gris-claro: #f2f2f2;
    --negro: #000;
    --azul-oscuro: darkblue;
    --blanco: #fff;
}

.container-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.container-informacion{
    width: 70%;
    background: var(--gris-claro);
    border: 2px solid var(--negro);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 120px;
}

.container-informacion h3{
    margin-top: 0;
}

.container-informacion p{
    margin-bottom: 0;
}

@media (max-width: 600px){
    .container-informacion{
        width: 90%;
    }
}

@media (max-width: 430px){
    .nav-section nav{
        flex-direction: column;

    }

   .container-imagen{
    height: auto;
   }
    .container-imagen h2{
    font-size: 20px;
    }
}

@media (max-width: 768px){
    header{
        padding: 10px 20px;
    }
    nav{
        justify-content: space-between;
        
    }

    .opciones-menu{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--gris-claro);
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .opciones-menu li{
        margin: 15px;
    }

    .menu{
        display:flex;
    }
    
    .opciones-menu.show{
        display: flex;
        background-color: var(--gris-claro);
        z-index: 9999;
    }

}
    

    @media (max-width: 1050px){

    .imagen-uno{
        align-items: center;
    }

    .container-imagen{
        width: 60%;
    height: 60%;
    }

    .idiomas{
        flex-direction: column;
        gap: 20px;
    }

}
    


